/* ------------------ About Section ------------------ */
.policyImage {
  width: 100%;
  height: 350px;
  object-fit: cover;
  display: block;
}

.imageOverlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.66);
  z-index: 1;
  height: 350px;
}

.policyContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  z-index: 2;
}

.policyContent h1 {
  font-size: 40px;
  font-family: 'Poppins', sans-serif;
  color: #ffffff;
  font-weight: 600;
}

.policyContent p {
  font-size: 16px;
  color: #ffffff;
  transition: color 0.3s ease;
}

.policyContent span{
  font-size: 16px;
  color: #B9B1B1;
}

.breadcrumbLink {
  color: #eaeaea;
  text-decoration: none;
}

.breadcrumbLink:hover {
  text-decoration: underline;
}




.policySection{
  display: flex;
  margin-top: 60px;
  margin-bottom: 60px;
}

.policySection h2{
  margin-bottom: 10px;
}

.policySection p{
  color: #7A7A7A;
}

.policySection span{
  font-family: 'poppins', sans-serif;
  color: #7A7A7A;
  font-weight: 500;
}

.regularText{
  font-weight: 400!important;
}

.inlineText{
  display: inline; /* or inline-block if needed */
  margin-left: 5px; /* small gap after the label */
}

.policyHead{
  width: 100%;
  max-width: 650px;
  margin: 0 auto;
}

.tableContents{
  border: 1px solid rgba(188, 188, 188, 0.27);
  box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.15);
  width: 100%;
  padding: 30px;
  border-radius: 20px;
  align-items: center;
  max-width: 342px;
  margin: 0px auto;
  position: sticky; /* sticky sidebar */
}

.contentName li{
  text-decoration: none;
  list-style: none;
  color: rgba(39, 126, 183, 0.69);
  font-size: 17px;
  font-weight: 500;
  padding-top: 8px;
  transition: color 0.3s ease, font-weight 0.3s ease;
  cursor: pointer;
}

.contentName li:hover {
  color: #277EB7;
}

.contentName li.active {
  color: #277EB7;
  font-weight: 600;
}

.title{
  font-size: 20px;
  color: #505050;
}